logicapp-formrecognizer/logicapp-formrecognizer/LogicApp.json
{
  "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "logicAppName": {
      "type": "string",
      "minLength": 1,
      "maxLength": 80,
      "metadata": {
        "description": "Name of the Logic App."
      }
    },
    "logicAppLocation": {
      "type": "string",
      "defaultValue": "[resourceGroup().location]",
      "allowedValues": [
        "[resourceGroup().location]",
        "eastasia",
        "southeastasia",
        "centralus",
        "eastus",
        "eastus2",
        "westus",
        "northcentralus",
        "southcentralus",
        "northeurope",
        "westeurope",
        "japanwest",
        "japaneast",
        "brazilsouth",
        "australiaeast",
        "australiasoutheast",
        "southindia",
        "centralindia",
        "westindia",
        "jioindiawest",
        "canadacentral",
        "canadaeast",
        "uksouth",
        "ukwest",
        "westcentralus",
        "westus2",
        "koreacentral",
        "koreasouth",
        "francecentral",
        "francesouth",
        "uaecentral",
        "uaenorth",
        "southafricanorth",
        "southafricawest",
        "switzerlandnorth",
        "switzerlandwest",
        "germanynorth",
        "germanywestcentral",
        "norwaywest",
        "norwayeast",
        "brazilsoutheast",
        "westus3"
      ],
      "metadata": {
        "description": "Location of the Logic App."
      }
    },
    "formrecognizer_model_id": {
      "type": "string",
      "metadata": {
        "description": "Id (GUID) of the custom form recognizer model"
      }
    },
    "azureeventgrid_connection_name": {
      "type": "string",
      "defaultValue": "aiml_eventgrid"
    },
    "azureeventgrid_connection_displayName": {
      "type": "string",
      "defaultValue": "aiml_eventgrid"
    },
    "formrecognizer_connection_name": {
      "type": "string",
      "defaultValue": "aiml_formrecognizer"
    },
    "formrecognizer_connection_displayName": {
      "type": "string",
      "defaultValue": "aiml_formrecognizer"
    },
    "formrecognizer_api_key": {
      "type": "securestring",
      "metadata": {
        "description": "Form Recognizer Account Key"
      }
    },
    "formrecognizer_siteUrl": {
      "type": "securestring",
      "metadata": {
        "description": "Form Recognizer Endpoint Url (Example: https://your-formrecognizer-resource.cognitiveservices.azure.com/)"
      }
    },
    "azureblob_connection_name": {
      "type": "string",
      "defaultValue": "aiml_blobstorage"
    },
    "azureblob_connection_displayName": {
      "type": "string",
      "defaultValue": "aiml_blobstorage"
    },
    "azureblob_accountName": {
      "type": "securestring",
      "metadata": {
        "description": "Name of the storage account the connector should use."
      }
    },
    "azureblob_accessKey": {
      "type": "securestring",
      "metadata": {
        "description": "Specify a valid primary/secondary storage account access key."
      }
    },
    "azureblob_authType": {
      "type": "string",
      "metadata": {
        "description": "Authentication type to connect to your database"
      },
      "allowedValues": [
        "basic",
        "anonymous"
      ],
      "defaultValue": "basic"
    },
    "azureblob_privacySetting": {
      "type": "string",
      "metadata": {
        "description": "Privacy Setting"
      },
      "allowedValues": [
        "None",
        "Private",
        "Organizational",
        "Public"
      ],
      "defaultValue": "Public"
    }
  },
  "variables": {
    "logicAppUniqueName": "[concat(toLower(parameters('logicAppName')),'-', uniqueString(resourceGroup().id))]"
  },
  "resources": [
    {
      "name": "[variables('logicAppUniqueName')]",
      "type": "Microsoft.Logic/workflows",
      "location": "[parameters('logicAppLocation')]",
      "tags": {
        "displayName": "LogicApp"
      },
      "apiVersion": "2016-06-01",
      "properties": {
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "actions": {
            "docUrl": {
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "docUrl",
                    "type": "string",
                    "value": "@{triggerBody()['data']['blobUrl']}"
                  }
                ]
              },
              "runAfter": {}
            },
            "Form_Recognizer_Custom_Model": {
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['formrecognizer']['connectionId']"
                  }
                },
                "method": "post",
                "body": "@body('Get_doc_content')",
                "path": "/v2.1/custom/models/@{encodeURIComponent(variables('modelId'))}/analyze",
                "queries": {
                  "includeTextDetails": true
                }
              },
              "runAfter": {
                "modelId": [
                  "Succeeded"
                ]
              }
            },
            "blobUrl": {
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "blobUrl",
                    "type": "string",
                    "value": "@{substring(variables('docUrl'),indexOf(variables('docUrl'),'raw-bronze'))}"
                  }
                ]
              },
              "runAfter": {
                "docUrl": [
                  "Succeeded"
                ]
              }
            },
            "Get_doc_content": {
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azureblob']['connectionId']"
                  }
                },
                "method": "get",
                "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent('AccountNameFromSettings'))}/GetFileContentByPath",
                "queries": {
                  "path": "@variables('blobUrl')",
                  "queryParametersSingleEncoded": true,
                  "inferContentType": true
                }
              },
              "runAfter": {
                "blobUrl": [
                  "Succeeded"
                ]
              }
            },
            "Write_output_JSON": {
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azureblob']['connectionId']"
                  }
                },
                "method": "post",
                "body": "@body('Form_Recognizer_Custom_Model')?['analyzeResult']?['documentResults']",
                "headers": {
                  "ReadFileMetadataFromServer": true
                },
                "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent('AccountNameFromSettings'))}/files",
                "queries": {
                  "folderPath": "/curated-silver/formrecognizer-re-json/",
                  "name": "@variables('outputJson')",
                  "queryParametersSingleEncoded": true
                }
              },
              "runAfter": {
                "outputJson": [
                  "Succeeded"
                ]
              },
              "runtimeConfiguration": {
                "contentTransfer": {
                  "transferMode": "Chunked"
                }
              }
            },
            "outputJson": {
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "outputJson",
                    "type": "string",
                    "value": "@{replace(substring(variables('blobUrl'),lastIndexOf(variables('blobUrl'),'/')),'.pdf','.json')}"
                  }
                ]
              },
              "runAfter": {
                "Form_Recognizer_Custom_Model": [
                  "Succeeded"
                ]
              }
            },
            "modelId": {
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "modelId",
                    "type": "string",
                    "value": "[parameters('formrecognizer_model_id')]"
                  }
                ]
              },
              "runAfter": {
                "Get_doc_content": [
                  "Succeeded"
                ]
              }
            }
          },
          "parameters": {
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            }
          },
          "triggers": {
            "When_doc_is_uploaded": {
              "type": "ApiConnectionWebhook",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azureeventgrid_1']['connectionId']"
                  }
                },
                "body": {
                  "properties": {
                    "topic": "/subscriptions/5a5ba4fb-f4e0-4eaf-a2d3-7db71dfd729d/resourceGroups/rg-dataplatform/providers/Microsoft.Storage/storageAccounts/bastoragedatalake01",
                    "destination": {
                      "endpointType": "webhook",
                      "properties": {
                        "endpointUrl": "@{listCallbackUrl()}"
                      }
                    },
                    "filter": {
                      "includedEventTypes": [
                        "Microsoft.Storage.BlobCreated"
                      ],
                      "subjectBeginsWith": "/blobServices/default/containers/raw-bronze/blobs/formrecognizer-custom-re",
                      "subjectEndsWith": ".pdf"
                    }
                  }
                },
                "path": "/subscriptions/@{encodeURIComponent('5a5ba4fb-f4e0-4eaf-a2d3-7db71dfd729d')}/providers/@{encodeURIComponent('Microsoft.Storage.StorageAccounts')}/resource/eventSubscriptions",
                "queries": {
                  "x-ms-api-version": "2017-06-15-preview"
                }
              },
              "splitOn": "@triggerBody()"
            }
          },
          "contentVersion": "1.0.0.0",
          "outputs": {}
        },
        "parameters": {
          "$connections": {
            "value": {
              "formrecognizer": {
                "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'formrecognizer')]",
                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('formrecognizer_connection_name'))]",
                "connectionName": "[parameters('formrecognizer_connection_name')]"
              },
              "azureblob": {
                "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'azureblob')]",
                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('azureblob_connection_name'))]",
                "connectionName": "[parameters('azureblob_connection_name')]"
              },
              "azureeventgrid_1": {
                "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'azureeventgrid')]",
                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('azureeventgrid_connection_name'))]",
                "connectionName": "[parameters('azureeventgrid_connection_name')]"
              }
            }
          }
        }
      },
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', parameters('formrecognizer_connection_name'))]",
        "[resourceId('Microsoft.Web/connections', parameters('azureblob_connection_name'))]",
        "[resourceId('Microsoft.Web/connections', parameters('azureeventgrid_connection_name'))]"
      ]
    },
    {
      "type": "MICROSOFT.WEB/CONNECTIONS",
      "apiVersion": "2018-07-01-preview",
      "name": "[parameters('azureeventgrid_connection_name')]",
      "location": "[parameters('logicAppLocation')]",
      "properties": {
        "api": {
          "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'azureeventgrid')]"
        },
        "displayName": "[parameters('azureeventgrid_connection_displayName')]"
      }
    },
    {
      "type": "MICROSOFT.WEB/CONNECTIONS",
      "apiVersion": "2018-07-01-preview",
      "name": "[parameters('formrecognizer_connection_name')]",
      "location": "[parameters('logicAppLocation')]",
      "properties": {
        "api": {
          "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'formrecognizer')]"
        },
        "displayName": "[parameters('formrecognizer_connection_displayName')]",
        "parameterValues": {
          "api_key": "[parameters('formrecognizer_api_key')]",
          "siteUrl": "[parameters('formrecognizer_siteUrl')]"
        }
      }
    },
    {
      "type": "MICROSOFT.WEB/CONNECTIONS",
      "apiVersion": "2018-07-01-preview",
      "name": "[parameters('azureblob_connection_name')]",
      "location": "[parameters('logicAppLocation')]",
      "properties": {
        "api": {
          "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'azureblob')]"
        },
        "displayName": "[parameters('azureblob_connection_displayName')]",
        "parameterValues": {
          "accountName": "[parameters('azureblob_accountName')]",
          "accessKey": "[parameters('azureblob_accessKey')]",
          "authType": "[parameters('azureblob_authType')]",
          "privacySetting": "[parameters('azureblob_privacySetting')]"
        }
      }
    }
  ],
  "outputs": {}
}